@import "tailwindcss";

@theme { 
  --color-font-white: #f8f6f7;
  --color-fondo: #262353;
}

:root{
  background-color: #262353;
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.leaflet-popup-content-wrapper {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  padding: 4px;
}